html,body{
    height: 100%;
}

.content{
    max-width: 1180px;
    margin: 0px auto;
    padding: 60px 0px 0px 0px;
}

body{
    margin: 1%;
}

#top{
    display: flex;
}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:darkturquoise;
    z-index: 2;
}

.header__burger {
    display: none;
    text-align: right;
}

.header__list{
    visibility: hidden;
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list > li{
    list-style: none;
    margin: 0px 0px 0px 50px;
}
.header__link {
    color:white;
    /* visibility: hidden; */
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 60px;
    overflow: hidden;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.termin {
    font-size: 20px;
    color: blue;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.termin_desc {
    font-size: 16px;
    text-align: justify;
    color: green;
    display: flex;
    flex-wrap: wrap;
}
.orange {
    color: orange;
    display: flex;
}
.termin_alt {
    color: red;
}
.purple {
    color: purple;
}
main ol {
    color:rgb(44, 106, 106);
}
blockquote, cite {
    color:rgb(120, 23, 4);
}

h1, h2, h3 {
    font-family: 'Comic Neue', cursive;
}
#proc_picture{
    float: left;
    margin-right: 1rem;
}
#memory_pic{
    float: right;
    margin-right: 1rem;
}
#sec_1{
    display: block;
}
#sec_2{
    display: block;
}

.info_more{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stick{
    position: sticky;
    align-items: center;
    top: 10px;
}
.front{
    z-index: -2;
}
.network{
    position: absolute;
}
.head li{
    list-style: none;
}
.pr_class{
    position: relative;
}

::placeholder {
    background-color: #ff0000;
    color: aliceblue;
    font-size: 1.5em;
    font-style: italic;
}
section{
    display: flex;
    flex-wrap: wrap;
}
video{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger > input{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger::before, 
    .header__burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 1px;
        min-width: 32px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        overflow: auto;
    }

    .header__list {
        display: block;
    }
    .header__list > li {
        margin: 0px 0px 20px 0px;
    } 
    .header__list{
        visibility: visible;
    } 
}

#cancel{
    color: white;
    letter-spacing: -2;
}

input:checked ~ * .header__burger::before {
    transform: rotate(45deg);
    top: 10px;
}
input:checked ~ * .header__burger::after {
    transform: rotate(135deg);
    bottom: 9px;
}
input:checked ~ * #cancel {
    opacity: 0;
}
input:checked ~ * .header__menu {
    position: fixed;
    opacity: visible;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    padding: 70px 0px 20px 0px;
    margin: 0;
    align-items: center;
    text-align: center;
}

.container__gallery {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
.section {
    padding: 64px 0;
}
.section__gallery {
    margin-bottom: 64px;
}
.section__gallery:last-child {
    margin-bottom: 0;
}
.gallery {
    position: relative;
}
.gallery__flex {
    height: 600px;
    display: flex;
}
.gallery__item {
    flex: 1;
    transition: flex-grow 0.64s ease-in-out; 
    overflow: hidden;
    min-height: 0;
}
.gallery__item:hover {
    flex: 16; 
}

.gallery__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    transition: transform 1.6s ease-in-out;
    transform: scale(1.1);
}
.gallery__item:hover img {
    transform: scale(1);
}

@media (max-width:767px) {
    .container__gallery {
        max-width: 100%;
        padding: 0 5%;
        margin: 0 auto;
    }
    .section {
        padding: 5% 0;
    }
    .section__gallery {
        margin-bottom: 5%;
    }
    .section__gallery:last-child {
        margin-bottom: 5%;
    }
    .gallery {
        position: relative;
    }
    .gallery__flex {
        height: 10%;
        display: flex;
    }
    .gallery__item {
        flex: 2;
        transition: flex-grow 0.64s ease-in-out; 
        overflow: hidden;
        min-height: 0;
    }
    .gallery__item:hover {
        flex: 16;
    }
    .gallery__item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        transition: transform 1.6s ease-in-out;
        transform: scale(1.1);
    }
    .gallery__item:hover img {
        transform: scale(1);
    }
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px
}

.card__menu{
    z-index: 2;
    position: relative;
    text-decoration: none;
    display: flex;
    background-color: #323237;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    color: #adadaf;
    letter-spacing: 1px;
}
.card__menu::before, .card__menu::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2; 
    transition: all 0.5s;
    border: 1px solid rgba(0, 0, 0, 0.127);
    background-color: #323237;
}

.card__menu:hover::before  {
    transform: rotate(-45deg);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.255);
}
.card__menu:hover::after{
    transform: rotate(45deg);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.255);
}

.monitor__menu {
    z-index: 2;
    position: relative;
    opacity: 1;
    outline: 0;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    text-transform: uppercase;
    
}
.monitor__menu::before {
    content: attr(data);
    position: relative;
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 0 20px;
    color: #adadaf;
    background:#323237;
    transition: all 0.3s;
}
.monitor__menu:hover::before {
    opacity: 0;
    transform: scale(0.5,0.5);
}
.monitor__menu::after {
    content: attr(data);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    align-content: center;
    transition: all 0.3s;
    color: #00000d;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}
.monitor__menu:hover::after {
    opacity: 1;
    transform: scale(1.1);
}
.proc__menu{
    z-index: 2;
    position: relative;
    opacity: 1;
    outline: 0;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    text-transform: uppercase;
    
    &:hover{
        
        &::after{
        opacity: 1;
        transform: translateY(0) rotateX(0);
        }
        
        &::before{
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
        }
    }
    
    &::after{
        text-align: center;
        justify-content: center;
        opacity: 1;
        letter-spacing: 1px;
        padding: 0 20px;
        color: #323237;
        display: flex;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    
    &::before{
        opacity: 1;
        color: #adadaf;
        display: flex;
        padding: 0 20px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
}
.memory__menu {
    letter-spacing: 0;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #323237;
    color: #adadaf;
    letter-spacing: 1px;
    line-height: 40px;
}

.memory__menu::before {
  content: attr(data);
  padding: 0 20px;
}
.memory__menu:active{
    letter-spacing: 5px;
}

.memory__menu:hover::before {
    backface-visibility: hidden;
    transition: slaceY(1.1);
}

.card__menu:hover::before {
    bottom: auto;
    top: 0;
    width: 70%;
}

.dropdown {
    position: flex;
    display: inline-block;
}
.image__button{
    z-index: 2;
    position: relative;
    display: flex;
    background-image: url('./images/bell.png');
    width: 100px;
    height: 100px;
    border: none;
    background-size: cover;
    border-radius: 50%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #323237;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Изменяем цвет ссылки при наведении */
.dropdown-content a:hover {background-color: #ddd}
  
  /* Показываем выпадающий блок при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width:767px) {
    .dropdown, .buttons, .image__button, .dropdown-content{
        visibility: hidden;
        z-index: -100;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
}

.card__old_computer{
    background-image: url('./images/first_computer.jpg');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 190px;
}
.card__old_computer::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.";
    color:#ff0000;
    background: #ddd;
    opacity: 0;
}
.card__old_computer:hover::before{
    transition: opacity 1s;
    opacity: 1;
}
.card__system_block{
    background-image: url('./images/system_block.jpg');
    background-size: cover;
    background-position: center;
    width: 180px;
    height: 280px;
}
.card__system_block::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.";
    color:#ff0000;
    background: #00000d;
    opacity: 0;
}
.card__system_block:hover::before{
    transition: opacity 1s;
    opacity: 1;
}

.card__monitor{
    background-image: url('./images/monitor.jpeg');
    background-size: cover;
    background-position: center;
    width: 430px;
    height: 350px;
    opacity: 1;
}
.card__monitor::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
    color:#ff0000;
    opacity: 0;
    background: black;

}
.card__monitor:hover::before{
    transition: opacity 1s;
    opacity: 1;
}

.video_text{
    display: flex;
    flex-wrap: wrap;
}

.add_video {
    height: 400px;
    width: 400px;
}

.add_video::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.";
    opacity: 0;
}

.add_video:hover::before{
    transition: opacity 1s;
    opacity: 1;
}


#basket{
    content: "";
    width: 40px;
    height: 40px;
    top: 0;
    position: relative;
    background-size: cover;
    background-image: url('./images/basket.png');
}

#basket_add{
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
}

#basket_up{
    transform: rotate(90deg);
    position: relative;
    width: 40px;
    height: 40px;
    top: 5px;
}

#basket_down{
    transform: rotate(-90deg);
    position: relative;
    top: 5px;
    width: 40px;
    height: 40px;
}