html,body{
    height: 100%;
}

.content{
    max-width: 1180px;
    margin: 0px auto;
    padding: 60px 0px 0px 0px;
}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:darkturquoise;
    z-index: 2;
}

.header__burger {
    display: none;
}

.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list > li{
    list-style: none;
    margin: 0px 0px 0px 50px;
}
.header__link {
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 60px;
    overflow: hidden;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.termin {
    font-size: 20px;
    color: blue;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.termin_desc {
    font-size: 16px;
    text-align: justify;
    color: green;
    display: flex;
    flex-wrap: wrap;
}
.orange {
    color: orange;
    display: flex;
}
.termin_alt {
    color: red;
}
.purple {
    color: purple;
}
main ol {
    color:rgb(44, 106, 106);
}
blockquote, cite {
    color:rgb(120, 23, 4);
}

h1, h2, h3 {
    font-family: 'Comic Neue', cursive;
}
#proc_picture{
    float: left;
    margin-right: 1rem;
}
#memory_pic{
    float: right;
    margin-right: 1rem;
}
#sec_1{
    display: block;
}
#sec_2{
    display: block;
}

.info_more{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.stick{
    position: sticky;
    align-items: center;
    top: 10px;
}
.front{
    z-index: -2;
}
.network{
    position: absolute;
}
.head li{
    list-style: none;
}
.pr_class{
    position: relative;
}

::placeholder {
    background-color: #ff0000;
    color: aliceblue;
    font-size: 1.5em;
    font-style: italic;
}
section{
    display: flex;
    flex-wrap: wrap;
}
video{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger > input{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger::before, 
    .header__burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 1px;
        min-width: 32px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        overflow: auto;
    }
    .header__list {
        display: block;
    }
    .header__list > li {
        margin: 0px 0px 20px 0px;
    }   
}

#cancel{
    color: white;
    letter-spacing: -2;
}

input:checked ~ * .header__burger::before {
    transform: rotate(45deg);
    top: 10px;
}
input:checked ~ * .header__burger::after {
    transform: rotate(135deg);
    bottom: 9px;
}
input:checked ~ * #cancel {
    opacity: 0;
}
input:checked ~ * .header__menu {
    position: fixed;
    opacity: visible;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    padding: 70px 0px 20px 0px;
    margin: 0;
    align-items: center;
    text-align: center;
}

.container__gallery {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
.section {
    padding: 64px 0;
}
.section__gallery {
    margin-bottom: 64px;
}
.section__gallery:last-child {
    margin-bottom: 0;
}
.gallery {
    position: relative;
}
.gallery__flex {
    height: 600px;
    display: flex;
}
.gallery__item {
    flex: 1;
    transition: flex-grow 0.64s ease-in-out; 
    overflow: hidden;
    min-height: 0;
}
.gallery__item:hover {
    flex: 16; 
}
.gallery__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    transition: transform 1.6s ease-in-out;
    transform: scale(1.1);
}
.gallery__item:hover img {
    transform: scale(1);
}

@media (max-width:767px) {
    .container__gallery {
        max-width: 100%;
        padding: 0 5%;
        margin: 0 auto;
    }
    .section {
        padding: 5% 0;
    }
    .section__gallery {
        margin-bottom: 5%;
    }
    .section__gallery:last-child {
        margin-bottom: 5%;
    }
    .gallery {
        position: relative;
    }
      .gallery__flex {
        height: 10%;
        display: flex;
    }
    .gallery__item {
        flex: 2;
        transition: flex-grow 0.64s ease-in-out; 
        overflow: hidden;
        min-height: 0;
    }
    .gallery__item:hover {
        flex: 16;
    }
    .gallery__item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        transition: transform 1.6s ease-in-out;
        transform: scale(1.1);
    }
    .gallery__item:hover img {
        transform: scale(1);
    }
}

