html,body{
    height: 100%;
    /* margin: 1%; */
}
main{
    padding: 0 1% 0 1%;
}
.content{
    max-width: 1180px;
    margin: 10px auto;
    padding: 60px 0px 0px 0px;
}

body{
    margin: 0;
    background-color: rgba(0, 206, 209, 0.212);
}

#top{
    display: flex;
}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}
.header{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgb(0, 206, 209);
    z-index: 2;
}

.header__burger {
    display: none;
    text-align: right;
}

.header__list{
    visibility: hidden;
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list > li{
    list-style: none;
    margin: 0px 0px 0px 50px;
}
.header__link {
    color:white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo {
    flex: 0 0 80px;
    overflow: hidden;
    z-index: 3;
}

.header__logo img {
    max-width: 100%;
    display: block;
}

.termin {
    font-size: 20px;
    color: blue;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    display: flex;
    flex-wrap: wrap;
}

.termin_desc {
    font-size: 16px;
    text-align: justify;
    color: green;
    display: flex;
    flex-wrap: wrap;
}
.orange {
    color: orange;
    display: flex;
}
.termin_alt {
    color: red;
}
.purple {
    color: purple;
}


h1, h2, h3 {
    font-family: 'Comic Neue', cursive;
}
#float_right{
    float: right;
    margin-right: 1rem;
}
#sec{
    display: block;
}

.info_more{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(0, 1fr);
}
#more_wiki{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#more_enc{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
#more_exp{
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
#more_tprog{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
@media (max-width:800px) {
    .info_more{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    #more_wiki{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        
    }
    #more_enc{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        
    }
    #more_exp{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-items: end;
    }
    #more_tprog{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-items: end;
    }
}

.front{
    z-index: -2;
}
.network{
    position: absolute;
}
.head li{
    list-style: none;
}
#float_left{
    position: relative;
    float: left;
}

::placeholder {
    background-color: #ff0000;
    color: aliceblue;
    font-size: 1.5em;
    font-style: italic;
}
section{
    display: flex;
    flex-wrap: wrap;
}
video{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .header__body {
        height: 50px;
    }
    .header__logo {
        flex: 0 0 50px;
    }
    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger > input{
        position: absolute;
        background-color: white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .header__burger::before, 
    .header__burger::after {
        content: '';
        background-color: white;
        position: absolute;
        width: 100%;
        height: 1px;
        min-width: 32px;
        left: 0;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .header__menu {
        position: fixed;
        top: -100%;
        overflow: auto;
    }

    .header__list {
        display: block;
    }
    .header__list > li {
        margin: 0px 0px 20px 0px;
    } 
    .header__list{
        visibility: visible;
    } 
}

#cancel{
    color: white;
    letter-spacing: -2;
}

input:checked ~ * .header__burger::before {
    transform: rotate(45deg);
    top: 10px;
}
input:checked ~ * .header__burger::after {
    transform: rotate(135deg);
    bottom: 9px;
}
input:checked ~ * #cancel {
    opacity: 0;
}
input:checked ~ * .header__menu {
    position: fixed;
    opacity: visible;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: darkcyan;
    padding: 70px 0px 20px 0px;
    margin: 0;
    align-items: center;
    text-align: center;
}

.container__gallery {
    max-width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
.section {
    padding: 64px 0;
}
.section__gallery {
    margin-bottom: 64px;
}
.section__gallery:last-child {
    margin-bottom: 0;
}
.gallery {
    position: relative;
}
.gallery__flex {
    height: 600px;
    display: flex;
}
.gallery__item {
    flex: 1;
    transition: flex-grow 0.64s ease-in-out; 
    overflow: hidden;
    min-height: 0;
}
.gallery__item:hover {
    flex: 16; 
}

.gallery__item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    transition: transform 1.6s ease-in-out;
    transform: scale(1.1);
}
.gallery__item:hover img {
    transform: scale(1);
}

@media (max-width:767px) {
    .container__gallery {
        max-width: 100%;
        padding: 0 5%;
        margin: 0 auto;
    }
    .section {
        padding: 5% 0;
    }
    .section__gallery {
        margin-bottom: 5%;
    }
    .section__gallery:last-child {
        margin-bottom: 5%;
    }
    .gallery {
        position: relative;
    }
    .gallery__flex {
        height: 120px;
        display: flex;
    }
    .gallery__item {
        flex: 2;
        transition: flex-grow 0.64s ease-in-out; 
        overflow: hidden;
        min-height: 0;
    }
    .gallery__item:hover {
        flex: 16;
    }
    .gallery__item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        transition: transform 1.6s ease-in-out;
        transform: scale(1.1);
    }
    .gallery__item:hover img {
        transform: scale(1);
    }
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px
}



.monitor__menu {
    z-index: 2;
    position: relative;
    opacity: 1;
    outline: 0;
    line-height: 40px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    text-transform: uppercase;
    
}
.monitor__menu::before {
    content: attr(data);
    position: relative;
    align-content: center;
    top: 0;
    left: 0;
    width: 140px;
    height: 60px;
    z-index: 2;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    color: #adadaf;
    background:#323237;
    transition: all 0.3s;
}
.monitor__menu:hover::before {
    opacity: 0;
    transform: scale(0.5,0.5);
}
.monitor__menu::after {
    content: attr(data);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    align-content: center;
    transition: all 0.3s;
    color: #00000d;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}
.monitor__menu:hover::after {
    opacity: 1;
    transform: scale(1.1);
}



.dropdown {
    position: flex;
    display: inline-block;
    width: 100px;
}

.image__button{
    z-index: 2;
    position: relative;
    display: flex;
    background-image: url('./images/bell.png');
    top: -8px;
    width: 90px;
    height: 90px;
    border: none;
    background-size: cover;
    border-radius: 50%;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #323237;
    min-width: 160px;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd}
  
.dropdown:hover .dropdown-content {
    display: block;
}
@media (max-width:767px) {
    .dropdown, .buttons, .image__button, .dropdown-content{
        visibility: hidden;
        z-index: -100;
    }
} 


.notification{
    position: absolute;
    width: 150px;
    height: 100px;
    z-index: 1000;
}

.footer_index{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 162);
    color: white;
}

/* proc */
#cost_money{
    font-size: 20px;
    margin: 0 10px 0 0;
}
#cost{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#buy{
    background-color: orange;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 90px;
    align-items: center;
    justify-content: center;
    color: white;
}

#sec2{
    display: block;
    position: relative;
    color: white;
    padding: 10px;
    background: linear-gradient(45deg, rgb(60, 60, 255), rgb(248, 64, 64));
    margin: 10px 0 0 0;
    width: 100%;
    z-index: 1;
}

#sec2:hover{
    scale: 1.03;
    z-index: 100;
    transition: 3s;
}

@keyframes rotate_back{
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateY(5px);
    }
    75%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@media (max-width:767px) {
    main{
        padding: 0 5%;
    }
    #sec2:hover{
        scale: 1.03;
        z-index: 100;
        transition: 3s;
    }
}

/* videocard */

#card_sec{
    position: relative;
    display: flex;
}
#card_vid1, #card_vid2, #card_vid3, #card_vid4, #card_vid5{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translateX(-50%);
    cursor: pointer;
}
#text1, #text2, #text3, #text4, #text5{
    display: none;
}

/* info_author */
#info_author{
    position: absolute;
    left: 50%;
    top: 65%;
    font-size: 20px;
    transform: translateX(-50%);
    text-align: center;
}
.footer_about{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 162);
    color: white;
    /* content: ""; */
    bottom: 0;
}
#head_page{
    padding: 10px 0 0 0;
    text-align: center;
}
#about_photo{
    position: relative;
    left: 50%;
    transform: translateX(-50%)

}